@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins", cursive;
    margin: 0;
}
.head {
    color: white;
    text-align: center;
}
.image img{
    height: 500px;
    width: 500px;
    margin-left: 439px;
}

body {
    background: darkgreen;
}

.register {
    max-width: 350px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9ecef;
    border-radius: 15px;
    background-color: white;
    flex-direction: column;
    background-size: 150px 150px;
    background-image: url(./assests/backs.PNG);
    background-repeat: no-repeat;
    background-position: top right;
}
.register .col-1 {
    padding: 3em 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 289px;
}

#form {
    max-width: 320px;
    width: 100vw;
}

#form input{
    border: 1px solid #e9ecef;
    padding: .9em 1em;
    border: none;
}

#form input:focus {
    outline: none;
}

.pass a {
    color: #15843f;
    font-size: 14px;
    text-decoration: none;
}

#form>.btn1 {
    background-color: #0e8c41;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    height: 45px;
}

#form>.btn2 {
    background-color: #bedac9;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    color: #15843f;
    font-weight: bold;
    border: 1px solid green;
    height: 45px;
}

.flex {
    display: flex;
    gap: 1em;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.inp{
    width: 40%;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.form-link a {
    color: #15843f;
    font-size: 14px;
    text-decoration: none;
}

.form-link {
    text-align: center;
    font-size: 13px;
}

@media screen and (min-width: 350px) {
    .register{
      width: 90%;
      height: 90%;
    }
}